# nyc dump
.nyc_output
coverage
dist/**/*.spec.js
dist/**/*.spec.js.map
dist/**/*.spec.d.ts
node_modules
src
types
.eslintignore
.eslintrc
.gitignore
.mocharc.json
.nvmrc
.nycrc.json
.prettierrc
mocha-globals.js
nodemon-test.json
package-lock.json
tsconfig.json
wallaby.js

# ignore trash in my machine
.trash
# timestamp of last build
.lastDistBuildDate
.tscache
# database
dockers/data
